.Info{
    height: 25em;
    display:flex;
    padding: 6em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 6em;
    flex-direction: row;
    justify-content: flex-start;

}
.InfoDet{
    margin: 4em;
    text-align: left;
    align-self: flex-start;
}
.InfImg{
    margin: 5em;
}
#imagen{
    border-radius: 5em;
    box-shadow: 0px 0px 16px white;
}
#nombre{
    width:fit-content;
    position:absolute;
}