.divStyle{
    width: 40vw;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 60px;    
    border-radius: 30px;
    border: 4px solid rgb(55, 31, 78);
    outline: groove rgb(104, 60, 144);
    background-color: rgb(223, 198, 245)

}
.inputStyle{
    font-size: 25px;
    width: 25vw;
    
}
.buttonStyle{
    margin: 15px;
    padding: 5px;
    background-color: chartreuse;
    border: 1px solid black;
    border-radius: 40%;
    outline: 2px groove grey;
}