.divStyle {
    display: flex;
    width: fit-content;
    align-self: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 10%;
    padding: 1em;
    color:rgb(90, 90, 147);
    border: 4px solid rgb(55, 31, 78);
    border-radius: 5%;
    outline: groove rgb(104, 60, 144);
}
.buttonStyle {
    color: white;
    margin: 0;
    order: 2;
    align-self: flex-end;
    width: fit-content;
    border: 1px solid black;
    border-radius: 20%;
    background-color: rgb(225, 49, 49);
}
.nameStyle {
    margin: 0%;
    padding: 10px;
    align-self: flex-start;
    border: 2px dotted rgb(48, 48, 48);
    background-color: rgb(144, 129, 102);
}
    

.attStyle {    
    display: inline;
    order: -1
}
.divStyle img {
    display: flex;
    order: 1
}