.App {
   display: flex;
   flex-direction: column;
   text-align: center;
   background-image: url(./img/cielo-estrellado_97.webp);
   background-color: #552066;
   background-attachment: fixed;
   background-repeat: no-repeat;
   /* background-size: cover; */
   min-height: 92vh;
   background-size: 100vw; 
}
.Present{
   display: flex;
   justify-content: center;
   align-items: center;
}
.BodySubNav{
   margin-top: 133px;
}
