.App {
   display: flex;
   flex-direction: column;
   text-align: center;
   background-image: url(./img/Back.png);
   background-color: #552066;
   background-position: center;
   background-repeat: no-repeat;
   /* background-size: cover; */
   min-height: 100vh;
   background-size: 100% 100%; 
}
.Present{
   display: flex;
   justify-content: center;
   align-items: center;
}
